body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rainbow-text .char {
  color: hsl(calc(360deg * var(--char-percent)), 90%, 65%);
}

.rainbow-text.animated .char {
  animation: rainbow-colors 2s linear infinite;
  animation-delay: calc(-2s * var(--char-percent));
}
/* Unfortunately, browsers try to take the shortest distance between transition/animation properties, so a simple `0turn` to `1turn` doesn't get the proper effect. */
@keyframes rainbow-colors {
  0% {
    color: hsl(0turn, 90%, 65%);
  }
  25% {
    color: hsl(0.25turn, 90%, 65%);
  }
  50% {
    color: hsl(0.5turn, 90%, 65%);
  }
  75% {
    color: hsl(0.75turn, 90%, 65%);
  }
  100% {
    color: hsl(1turn, 90%, 65%);
  }
}
