@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sarabun', sans-serif;
}

.sign-text-input {
  @apply bg-gray-50 border border-gray-300
  text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5
  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-xl min-w-[300px]
  w-[50vw] text-center;
}

.actions-sector {
  @apply absolute bottom-24 flex flex-col items-center gap-4;
}

.github-logo {
  @apply w-6 absolute top-6 right-6;
}

:fullscreen .actions-sector,
:fullscreen .github-logo {
  @apply hidden;
}

.rainbow-text {
  --bg-size: 200%;
  --color-one: hsl(0turn, 90%, 65%);
  --color-two: hsl(0.25turn, 90%, 65%);
  --color-three: hsl(0.5turn, 90%, 65%);
  --color-four: hsl(0.75turn, 90%, 65%);
  --color-five: hsl(1turn, 90%, 65%);

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-five)
    )
    0 0 / var(--bg-size) 100%;

  -webkit-background-clip: text;

  animation: move-bg 2s infinite linear;

  @apply font-bold text-transparent bg-clip-text text-[15vw];
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
